/*****************
     VARIABLES
*****************/
:root {
    --white: #fff;
    --white-grey: #f5f6fa;
    --light-grey: #8395a7;
    --medium-grey: #576574;
    --dark-grey: #252A2E;
    --highlight: #fa8231;
    --footer: #222f3e;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

/*****************
    ENTIRE PAGE
*****************/
body {
    margin: 0;
    font-family: 'Poppins', 'Lato', Helvetica, sans-serif;
    font-size: 22px;
    background-color: var(--white-grey);
}

a {
    text-decoration: none;
    color: var(--white);
}

a img:hover, a p:hover {
    transform: rotate(20deg);
}

/*****************
       HERO
*****************/
html, body, .hero-container {
    width: 100%;
    height: 100%;
}

.hero-container {
    display: grid;
    grid-template-rows: 1fr;
    background: linear-gradient(to bottom right, #fff, transparent), url("../img/diamonds-bg.png") no-repeat center center;
    /* opacity:0.4; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 15%;
    margin-right: 0.7em;
}

h1 {
    margin: 0;
    font-size: 6em;
    color: var(--dark-grey);
}

h2 {
    font-size: 1.8em;
    margin-top: 0.3em;
    color: var(--medium-grey);
}

#subtitle-span {
    color: var(--highlight);
}

#scroll-down {
    font-size: 2em;
    padding-top: 1em;
    color: var(--light-grey);
    animation: pulsate 2s infinite;
    cursor: default;
}

@keyframes pulsate {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.8);
    }
}

/*****************
      NAVBAR
*****************/
.nav-container, .sticky {
    width: 100%;
    padding: 0 1.8em;
    box-sizing: border-box;
    display: flex;
    height: 90px;
    align-items: center;
    background-color: var(--medium-grey);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: var(--medium-grey);
    border-bottom: solid 1px var(--white-grey);
}

.left-nav {
    flex-grow: 1;
}

.right-nav {
    display: flex;
    justify-content: flex-end;
}

.website-logo {
    border: 2px solid white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.45em;
    height: 42px;
    width: 42px;
    margin: 10px;
}

.contact-link {
    padding: 10px;
}

.social-logo {
    height: 30px;
}

/*****************
     TIMELINE
*****************/
.timeline-background {
    background-color: var(--medium-grey);
}

.timeline-container {
    margin: 0 0.75em 0.75em 0.75em;
    color: #fff;
}

#timeline-title {
    margin-top: 0;
    padding-top: 2.5em;
    padding-bottom: 1.25em;
    text-align: center;
    font-size: 2.5em;
    color: var(--white-grey);
}

h3 {
    margin-top: 0.10em;
    margin-bottom: 0.2em;
    font-size: 1em;
    color: var(--highlight);
}

h4 {
    margin-top: 0.10em;
    margin-bottom: 0.4em;
    ;
    font-size: 1.5em;
    color: var(--blue-grey) font-size: 1.5em;
}

.timeline-container img:not(.first-image) {
    margin-left: 0.7em;
}

/*****************
     FOOTER
*****************/
footer {
    background-color: var(--footer);
    border-top: solid 1px var(--white-grey);
    padding-top: 3em;
    padding-bottom: 4em;
}

.footer-div {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-div .contact-link {
    padding: 0 1.5em;
}

#footer-title {
    text-align: center;
    display: block;
    color: var(--light-grey);
}

/*****************
  TABLET+MOBILE
*****************/
@media (max-width: 991px) {
    .hero-container {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 700px) {

    /*****************
        MOBILE HERO
    *****************/
    body {
        font-size: 18px;
    }

    .hero-container {
        background: linear-gradient(to bottom right, #fff, var(--white-grey));
        /* background: #fff url("../img/diamonds-bg.png") no-repeat left top; */
        /* background: #ffffff url("img_tree.png") no-repeat right top; */
    }

    .title-container {
        margin-left: 1.5em;
        margin-right: 0.3em;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.3em;
    }

    /*****************
      MOBILE NAVBAR
    *****************/
    .nav-container, .sticky {
        height: 70px;
    }

    .website-logo {
        height: 32px;
        width: 32px;
        /* font-size: 1.2em; */
    }

    .social-logo {
        height: 20px;
    }

    /*****************
      MOBILE TIMELINE
    *****************/
    #timeline-title {
        padding-top: 1.5em;
        padding-bottom: 0.6em;
        /* font-size: 2em; */
    }

    h3 {
        margin-top: 0.10em;
        margin-bottom: 0.2em;
        /* font-size: 1em; */
        color: var(--highlight);
    }

    h4 {
        margin-top: 0.10em;
        margin-bottom: 0.4em;
        /* font-size: 1.2em; */
        color: var(--blue-grey) font-size: 1.5em;
    }
}
