/*****************
     VARIABLES
*****************/
:root {
  --white: #fff;
  --white-grey: #e5e6ea;
  --lighter-grey: #d3d7da;
  --light-grey: #8395a7;
  --medium-grey: #576574;
  --dark-grey: #252A2E;
  --orange-subtext: #cd7d48;
  --highlight: #df6f22;
  --footer: #222f3e;
  --navbar-size-desktop: 90px;
  --navbar-size-mobile: 70px;
}

/*****************
    ENTIRE PAGE
*****************/
body {
  margin: 0;
  font-family: 'Poppins', 'Lato', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 22px;
  background-color: var(--white-grey);
}

a {
  text-decoration: none;
  color: var(--white);
}

*:focus, *:active {
  outline: none;
}

.website-logo:hover {
  transform: rotate(-5deg);
}

.social-logo:hover {
  transform: rotate(5deg);
}

h1 {
  margin: 0;
  font-size: 6em;
  color: var(--dark-grey);
  font-weight: 600;
}

h2 {
  font-size: 1.8em;
  margin-top: 0.3em;
  color: var(--medium-grey);
  font-weight: 600;
}


h3 {
  margin-top: 0.10em;
  margin-bottom: 0.2em;
  font-size: 1em;
  color: var(--highlight);
  font-weight: 500;
}

h4 {
  margin-top: 0.10em;
  margin-bottom: 0.4em;
  font-size: 1.5em;
  color: var(--blue-grey);
  font-size: 1.5em;
  font-weight: 600;
}

/*****************
       HERO
*****************/
html, body, .hero-container {
  width: 100%;
  height: 100%;
}

.hero-container {
  display: grid;
  grid-template-rows: 1fr;
  background: url("../img/background/subtle-background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 15%;
  margin-right: 0.7em;
}

#subtitle-span {
  color: var(--highlight);
}

#scroll-down {
  font-size: 2em;
  padding: 0.75em;
  color: var(--light-grey);
  animation: pulsate 2s infinite;
  cursor: pointer;
  position: absolute;
  bottom: calc(var(--navbar-size-desktop) + 10px);
}

@keyframes pulsate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/*****************
      NAVBAR
*****************/
.fixed-nav-container, .sticky-nav-container {
  width: 100%;
  padding: 0 1.8em;
  box-sizing: border-box;
  display: flex;
  height: var(--navbar-size-desktop);
  align-items: center;
  background-color: var(--medium-grey);
  border-bottom: solid 1px var(--white-grey);
  /* to hide border before scrolling down past the fold*/
  margin-bottom: -1px;
  box-shadow: 0px 1px 8px -2px rgba(0, 0, 0, 0.5);
}

.sticky-nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.left-nav {
  flex-grow: 1;
}

.right-nav {
  display: flex;
  justify-content: flex-end;
}

.website-logo {
  border: 2px solid white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.45em;
  height: 42px;
  width: 42px;
  margin: 10px;
}

#brand-logo {
  cursor: pointer;
}

.contact-link {
  padding: 10px;
  height: 50px;
}

.social-logo {
  height: 30px;
  margin-bottom: -8px;
  fill:white;
}

/*****************
     TIMELINE
*****************/
.timeline-background {
  background-color: var(--medium-grey);
}

.timeline-container {
  margin: 0 0.75em 0.75em 0.75em;
  color: #fff;
}

/* ABOUT */
#about-section {
  margin: auto;
  padding: 2em;
  max-width: 800px;
  color: var(--white-grey);
}

/* PROJECTS */
#projects {
  padding: 5vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.5em;
  grid-row-gap: 3em;
}

.project {
  background-color: var(--white);
  border-radius: 3px;
  box-shadow: 2px 3px 10px -2px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-rows: 23vh 1fr 2.9em;
}

.project-img-container {
  max-height: 23vh;
  overflow: hidden;
}

.project-img {
  /* max-height: 40vh; */
  width: 100%;
  height: auto;
  border-radius: 3px 3px 0 0;
  box-shadow: 2px 3px 10px -2px rgba(0, 0, 0, 0.5);
}

.project-title {
  margin-bottom:0.1em;
}

.project-txt {
  padding: 1.5em 2em 1.5em 2em;
}

.project-tech {
  color: var(--orange-subtext);
  font-weight: normal;
  margin-top: 0;
  font-size: 0.75em;
  font-style: italic;
}

.project-desc {
  font-size: 0.9em;
}

.project-buttons {
  width: 100%;
  /* grid-row-start: -1; */
  display:flex;
}

.project-buttons a {
  width: 100%;
}

.project-buttons a button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--lighter-grey);
  color: var(--footer);
  font-size: 0.9em;
  padding: 1em 0 1em 0;
  cursor:pointer;
}

.project-link {
  border-radius: 0 0 0 3px;
}

.project-github {
  border-radius: 0 0 3px 0;
  border-left: 1px solid var(--light-grey) !important;
}

.project-buttons a button:hover {
  background-color: var(--light-grey);
  /* font-weight: bold; */
}

/* EXPERIENCE */
.timeline-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2.5em;
  padding-bottom: 0.33em;
  text-align: center;
  font-size: 2.5em;
  color: var(--white);
}

.timeline-container img:not(.first-image) {
  margin-left: 0.7em;
}

/* content = timeline content */
.content {
  box-shadow: 2px 3px 10px -2px rgba(0, 0, 0, 0.5);
}

/*****************
     FOOTER
*****************/
footer {
  background-color: var(--footer);
  border-top: solid 1px var(--white-grey);
  padding-top: 3em;
  padding-bottom: 4em;
}

.footer-div {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-div .contact-link {
  padding: 0 1.5em;
}

#footer-title {
  text-align: center;
  display: block;
  color: var(--light-grey);
}

/*****************
   SMALL DESKTOP
*****************/
@media screen and (max-width: 1300px) {
  body {
    font-size:17px;
  }

  .about-txt {
    font-size:1.1em;
  }

  #scroll-down {
    font-size: 1.5em;
  }

  #projects {
    padding: 3vw;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2em;
  }
}

/*****************
  TABLET+MOBILE
*****************/
@media screen and (max-width: 991px) {
  body {
    font-size: 16px;
  }

  .hero-container {
    background-attachment: scroll;
  }

  #projects {
    grid-column-gap: 1em;
    padding: 3vw;
  }

  .project-txt {
    padding: 1em;
  }
}

/*****************
       MOBILE
*****************/
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  h3 {
    margin-top: 0.10em;
    margin-bottom: 0.2em;
    color: var(--highlight);
  }

  h4 {
    margin-top: 0.10em;
    margin-bottom: 0.4em;
    color: var(--blue-grey);
    font-size: 1.5em;
  }

  /*****************
        MOBILE HERO
  *****************/
  .title-container {
    margin-left: 1.5em;
    margin-right: 0.3em;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.3em;
  }

  /*****************
      MOBILE NAVBAR
  *****************/
  .fixed-nav-container, .sticky-nav-container {
    height: var(--navbar-size-mobile);
  }

  .website-logo {
    height: 32px;
    width: 32px;
  }

  .social-logo {
    height: 20px;
  }

  /*****************
      MOBILE TIMELINE
  *****************/
  #timeline-title {
    padding-top: 1.5em;
    padding-bottom: 0.6em;
  }

  #projects {
    grid-template-columns: 1fr;
    padding:5vw;
  }
}
