/*****************
     VARIABLES
*****************/
:root {
  --white: #fff;
  --white-grey: #e5e6ea;
  --lighter-grey: #d3d7da;
  --light-grey: #8395a7;
  --medium-grey: #576574;
  --dark-grey: #252A2E;
  --orange-subtext: #cd7d48;
  --highlight: #df6f22;
  --footer: #222f3e;
  --navbar-size-desktop: 90px;
  --navbar-size-mobile: 70px;
}

/*****************
    ENTIRE PAGE
*****************/
body {
  margin: 0;
  font-family: 'Poppins', 'Lato', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 22px;
  background-color: var(--white-grey);
}

a {
  text-decoration: none;
  color: var(--white);
}

*:focus, *:active {
  outline: none;
}

.website-logo:hover {
  transform: rotate(-5deg);
}

.social-logo:hover {
  transform: rotate(5deg);
}

h1 {
  margin: 0;
  font-size: 6em;
  color: var(--dark-grey);
  font-weight: 600;
}

h2 {
  font-size: 1.8em;
  margin-top: 0.3em;
  color: var(--medium-grey);
  font-weight: 600;
}


h3 {
  margin-top: 0.10em;
  margin-bottom: 0.2em;
  font-size: 1em;
  color: var(--highlight);
  font-weight: 500;
}

h4 {
  margin-top: 0.10em;
  margin-bottom: 0.4em;
  font-size: 1.5em;
  color: var(--blue-grey);
  font-size: 1.5em;
  font-weight: 600;
}

/*****************
       HERO
*****************/
html, body, .hero-container {
  width: 100%;
  height: 100%;
}

.hero-container {
  display: grid;
  grid-template-rows: 1fr;
  background: linear-gradient(135deg, var(--white-grey) 0%, var(--lighter-grey) 100%);
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 15%;
  margin-right: 0.7em;
}

#subtitle-span {
  color: var(--highlight);
}

/*****************
      NAVBAR
*****************/
.fixed-nav-container, .sticky-nav-container {
  width: 100%;
  padding: 0 1.8em;
  box-sizing: border-box;
  display: flex;
  height: var(--navbar-size-desktop);
  align-items: center;
  background-color: var(--medium-grey);
  border-bottom: solid 1px var(--white-grey);
  /* to hide border before scrolling down past the fold*/
  margin-bottom: -1px;
  box-shadow: 0px 1px 8px -2px rgba(0, 0, 0, 0.5);
}

.sticky-nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.left-nav {
  flex-grow: 1;
}

.right-nav {
  display: flex;
  justify-content: flex-end;
}

.website-logo {
  border: 2px solid white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.45em;
  height: 42px;
  width: 42px;
  margin: 10px;
}

#brand-logo {
  cursor: pointer;
}

.contact-link {
  padding: 10px;
  height: 50px;
}

.social-logo {
  height: 30px;
  margin-bottom: -8px;
  fill:white;
}

/*****************
     FOOTER
*****************/
footer {
  background-color: var(--footer);
  border-top: solid 1px var(--white-grey);
  padding-top: 3em;
  padding-bottom: 4em;
}

.footer-div {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-div .contact-link {
  padding: 0 1.5em;
}

#footer-title {
  text-align: center;
  display: block;
  color: var(--light-grey);
}

/*****************
   SMALL DESKTOP
*****************/
@media screen and (max-width: 1300px) {
  body {
    font-size:17px;
  }

}

/*****************
  TABLET+MOBILE
*****************/
@media screen and (max-width: 991px) {
  body {
    font-size: 16px;
  }
}

/*****************
       MOBILE
*****************/
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  h3 {
    margin-top: 0.10em;
    margin-bottom: 0.2em;
    color: var(--highlight);
  }

  h4 {
    margin-top: 0.10em;
    margin-bottom: 0.4em;
    color: var(--blue-grey);
    font-size: 1.5em;
  }

  /*****************
        MOBILE HERO
  *****************/
  .title-container {
    margin-left: 1.5em;
    margin-right: 0.3em;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.3em;
  }

  /*****************
      MOBILE NAVBAR
  *****************/
  .fixed-nav-container, .sticky-nav-container {
    height: var(--navbar-size-mobile);
  }

  .website-logo {
    height: 32px;
    width: 32px;
  }

  .social-logo {
    height: 20px;
  }

}
