/*****************
     VARIABLES
*****************/
:root {
    --white-grey: #f5f6fa;
    --pale-grey: #dfe6e9;
    --light-grey: #b2bec3;
    --medium-grey: #2d3436;
    --dark-grey: #252A2E;
    --blue-grey: #3c6382;
    --dark-orange: #e17055;
}

/*****************
     FULLPAGE
*****************/
body {
    margin: 0;
    font-family: 'Raleway', 'Roboto', 'Lato', Helvetica, sans-serif;
    font-size: 22px;
    background-color: var(--white-grey);
}

a {
    text-decoration: none;
}

/*****************
       HERO
*****************/
html, body, .hero-container {
    width: 100%;
    height: 100%;
}

.hero-container {
    display: grid;
    grid-template-rows: 1fr;
    ;
    /* background-image: url("img/subtle-background.jpg"); */
    background: url("img/subtle-background.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* grid-template-columns: 10fr 1fr; */
}

.title-container {
    margin-top: 11.5em;
    margin-left: 7em;
    margin-right: 0.7em;
    margin-bottom: 0.7em;
}

h1 {
    margin: 0;
    font-size: 6em;
    color: var(--dark-grey);
    /* border: 1px solid black; */
    /* margin-bottom:0; */
}

h2 {
    font-size: 1.8em;
    /* border: 1px solid black; */
    margin-top: 0.3em;
    color: var(--medium-grey);
}

#subtitle-span {
    color: var(--blue-grey);
}

/*****************
      NAVBAR
*****************/
.nav-container {
    width: 100%;
    padding: 0 1.8em;
    box-sizing: border-box;
    display: flex;
    background-color: var(--medium-grey);
    height: 90px;
    align-items: center;
}

.left-nav {
    flex-grow: 1;
}

.right-nav {
    display: flex;
    justify-content: flex-end;
}

.website-logo {
    border: 2px solid white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.45em;
    height: 42px;
    width: 42px;
    margin: 10px;
}

.contact-link {
    padding: 10px;
}

.social-logo {
    height: 30px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/*****************
     TIMELINE
*****************/
.timeline-background {
    background-color: var(--medium-grey);
}

.timeline-container {
    margin: 0 0.75em 0.75em 0.75em;
    color: #fff;
}

#timeline-title {
    margin-top: 0;
    padding-top: 2.5em;
    padding-bottom: 1.25em;
    text-align: center;
    font-size: 2em;
    color: var(--pale-grey);
}

h3 {
    margin-top: 0.10em;
    margin-bottom: 0.2em;
    font-size: 1em;
    color: #FF9F55;
}

h4 {
    margin-top: 0.10em;
    margin-bottom: 0.4em;
    ;
    font-size: 1.5em;
    color: var(--blue-grey) font-size: 1.5em;
}

.timeline-container img:not(.first-image) {
    margin-left: 0.7em;
}

/***** MOBILE *****/
@media screen and (max-width: 700px) {
    .title-container {
        /* margin-top: 24em; */
        margin-left: 1.5em;
        ;
        margin-right: 0.3em;
    }

    h1 {
        font-size: 3.5em;
    }

    h2 {
        font-size: 1.5em;
    }
}
